<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.muhammadmehar.mmmgweather" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-feature android:name="android.hardware.location"/>
    <uses-feature android:name="android.hardware.location.gps"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity" android:theme="@style/ForecastTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".DetailActivity"
            android:label="@string/detail_label"
            android:parentActivityName="com.muhammadmehar.mmmgweather.MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.muhammadmehar.mmmgweather.MainActivity"
                />

        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="com.muhammadmehar.mmmgweather.MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.muhammadmehar.mmmgweather.MainActivity"
                />

        </activity>

        <provider
            android:authorities="com.muhammadmehar.mmmgweather"
            android:syncable="true"
            android:exported="false"
            android:name=".data.WeatherProvider"
            />

        <service android:name=".sync.MMGWeatherAuthenticatorService">

            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>

            <meta-data android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator"/>

        </service>
        <service android:name=".sync.MMMGWeatherSyncService"
            android:exported="true">

            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>

            <meta-data android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter"/>

        </service>

    </application>

</manifest>